#font-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    grid-gap: 2rem;
    padding: 2rem;

    .font-card {
        color: black;
        border: solid 1px grey;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem 0;
    }
}
#intro {
    height: calc(100vh - 72px);
}